main {
    width: 450px;
    background-color: #edeff2;
}

header {
    font-size: 1.3em;
    margin-left: 13px;
    font-family: "Courier New";
}

article {
    background-color: #fcfdff;
    border: 1px solid darkgrey;
    display: grid;
    margin: 5px;
    padding: 5px;
}

article {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 600px));
    font-family: Tahoma;
    font-size: 0.9em;
    padding-left: 20px;
}

div.buttons{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img {
    width: 160px;
    height: 105px;
    display: inline-block;
    border: 1px solid darkgray;
}

button {
    width: 65px;
    height: 25px;
    text-align: center;
    color: white;
    background: -moz-linear-gradient(left, #7f1d0c 24%, #f6290c 25%);
    background: -webkit-linear-gradient(left, #7f1d0c 24%, #f6290c 25%);
    background: linear-gradient(to right, #7f1d0c 24%, #f6290c 25%);
}