ul {
    list-style-type: none;
}

ul li:hover li {
    display: block;
    color: rgb(165, 155, 155);
}

li:hover p {
    text-decoration: underline;
}

li li {
    display: none;
}

p {
    display: inline;
}