@mixin gradient($value1, $value2, $value3, $value4){
    background: -moz-linear-gradient(left, $value1, $value2, $value3, $value4);
    background: -webkit-linear-gradient(left, $value1, $value2, $value3, $value4);
    background: linear-gradient(to right, $value1, $value2, $value3, $value4);
}
section {
	&.container {
		background-color: lightyellow;
		width: 1200px;
		border: 1px solid black;
		display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    } 
	header { 
		background-color: #96918b;
		color: white;
		font-weight: bold;
		padding-left: 7px;
        margin-top: 5px;
    }
	div{ 
		&.styles {
			button {
				width: 145px;
				height: 45px;
				font-size: 1.1em;
                background: #74bedd;
                @include gradient(#6db5d4 0%, #e4f5fc 15%, #e4f5fc 88%, #76c2e2 100%);
				color: #65dff7;
				margin-left: 32px;
                margin-top: 3px;
            }
        }
    }
}
h4 {
	margin-left: 30px;
}
nav {
	ul {
		list-style-type: none;
		li {
			a {
				color: black;
                text-decoration: none;
            } 
			&:first-of-type {
				a {
					font-weight: bold;
                    color: brown;
                }
            }
        }
    }
}
h3{
	padding-left: 6px;
    font-size: 1.4em;
}
main {
	background-color: white;
	border: 1px solid darkgray;
	margin: 15px;
	button {
		width: 100px;
		height: 25px;
		margin-left: 5px;
		background-color: white;
		border: 1px solid black;
        font-size: 0.9em;
    }
	section 
		a {
			color: brown;
            margin-left: 10px;
        }
		p {
            padding-left: 5px;
        }
	    hr {
        background-color: darkgray;
        }
}
div {
	&.tutorial {
		display: grid;
		grid-template-columns: 1fr 4fr;
		img {
			height: 80px;
            margin-left: 5px;
        } 
		p {
            font-weight: bold; 
        }
    }
	&.search {
		form {
			input {
                width: 100px;
            }
			button {
				&.btn {
					width: 30px;
					height: 27px;
					background-color: white;
                    font-size: 0.7em;
                }
            }
        }
		a {
			padding-top: 7px;
            font-size: 1.0em;
        }
    }
}
aside {
	width: 195px;
	margin-left: 4px;
	margin-top: 2px;
	text-align: center;
	font-size: 1.1em;
	section {
		margin: 1px 0px;
		background-color: white;
		a {
            color: brown;
        }
		div {
			border: 1px solid darkgray;
			padding-bottom: 7px;
			display: grid;
            justify-content: center;
        }
    }
}