body, ul, li, h1, h2, a {
	margin: 0;
	padding: 0;
	font-family: tahoma;
  background: #20353F;
}
nav { 
	background: #20353F;
	position: sticky;
	width: 70%;
	top: 0px;
	z-index: 1;
	ul {
		display: grid;
		grid-template-columns: repeat(6, minmax(10px, auto));
		column-gap: 1px;
    text-align: center;
  }
	li {
		display: inline-block;
		background: #4D5E65;
		padding: 15px 0px;
		font-size: 24px;
		a {
			text-decoration: none;
			color: #92ADB7;
			background: #4D5E65;
			&:hover {
        text-decoration: underline;
      }
    }
		&.current {
			background: #20353F;
			a {
				color: white;
        background: #20353F;
      }
    } 
  }
}
main {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-auto-rows: minmax(100px, auto);
	margin: 20px 10px;
	padding: 0 40px;
	section {
		ul {
      list-style-type: none;
    }
		li {
			border-bottom: 1px solid;
			border-color: #4D5E65;
			span {
				text-decoration: none;
				color: #92ADB7;
        font-size: 28px;
      }
			&.current {
				background: #00968C;
				span {
          color: white;
        }
      }
    }
  }
}